/* Menu */
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
}

/* Categorias */
.categorias__lista {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

/* Destaques */
.destaques {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.destaques__barra {
    flex-grow: 1;
}

/* Eventos */
.eventos__lista {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    justify-content: center;
}

.eventos__item {
    flex-grow: 1;
    max-width: 400px;
}

/* Agenda */
.agenda__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}
.agenda__item {
    flex-grow: 1;
    max-width: 400px;
}

.rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rodape__logo {
    align-self: end;
}

@media (min-width: 720px) {
    .menu {
        column-gap: 4.5rem;
    }

    .categorias__lista {
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }

    .eventos__lista {
        justify-content: end;
    }

    .agenda__lista {
        justify-content: end;
    }
}

@media (min-width: 1440px) {
    .menu {
        column-gap: 6.5rem;
        flex-wrap: nowrap;
    }

    .menu__item:nth-child(1) {
        order: 1;
    }

    .menu__item:nth-child(2) {
        order: 3;
    }

    .menu__item:nth-child(3) {
        order: 4;
    }

    .menu__item:nth-child(4) {
        order: 5;
    }

    .menu__item:nth-child(5) {
        order: 2;
    }

    .agenda__lista {
        justify-content: center;
    }
}