@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}


header {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 200px 70px black;
    padding: 20px 0;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto 0 auto;
}

nav {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    position: absolute;
    top: 50%;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-weight: bold;
    font-size: 1.4em;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(252, 178, 40);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: 0.1s;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    width: 400px;
    margin: 40px auto 40px auto;
}

form > fieldset {
    margin-bottom: 20px;
    border: none;
}

form .textInput, #button {
    display: block;
    height: 2.5em;
    width: 400px;
    border: 0.5px solid rgb(129, 129, 129);
    border-radius: 0px;
    padding-left: 10px;
    margin-bottom: 20px;
}

form label {
    display: block;
    font-size: 1.2em;
}

textarea {
    width: 410px;
}

.info_options{
    display: inline;
}

.contacts legend {
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 10px;
}

label.info_options {
    margin-right: 10px;
}

#contacts {
    margin-bottom: 20px;
}

#button {
    margin-top: 20px;
    background-color: rgb(252, 178, 40);
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    border-color: rgb(252, 194, 87);
    border-radius: 5px;
}

#button:hover {
    border-color: rgb(252, 107, 40);
    background-color: rgb(252, 125, 40);
    transform: scale(1.02);
    transition: 0.1s;
}

#button:active {
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 185, 139);
    transition: 0.1s;
}

table {
    margin: 40px auto 40px auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

thead {
    background-color: lightgray;
    font-weight: bold;
}

footer {
    text-align: center;
    background-image: url("../images/bg.jpg");
    padding: 60px 0 0 0;
}

.copyright {
    color: white;
    font-size: 13px;
    padding: 20px;
}

#footerLogo {
    width: 50px;
}