@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
	padding: 0;
	margin: 0;
}

header {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 200px 70px black;
    padding: 20px 0;
}

header h1 {
	display: inline-block;
}

.box {
    position: relative;
	margin: 0 40px 0 40px;
}

nav {
	display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    position: absolute;
	width: 287px;
	height: 33px;
	top: 50%;
	right: 0;
}


nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-weight: bold;
    font-size: 1.4em;
	text-shadow: 1px 1px 2px black;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(252, 178, 40);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: 0.1s;
}


section.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form {
    display: inline-block;
    max-width: 400px;
    padding: 20px;
    background-color: lightgray;
    border: 2px solid rgb(199, 198, 198);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

form > fieldset {
    margin-bottom: 20px;
    border: none;
}

form .textInput, #button {
    display: block;
    height: 2.5em;
    width: 97%;
    border: 0.5px solid rgb(129, 129, 129);
    border-radius: 0px;
    padding-left: 10px;
    margin-bottom: 20px;
}

form label {
    display: block;
    font-size: 1.2em;
}

textarea {
    width: calc(97% + 10px);
}

.info_options{
    display: inline;
}

fieldset.contacts {
    margin-top: 10px;
}

.contacts legend {
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 10px;
}

label.info_options {
    margin-right: 10px;
}

#contacts {
    margin-bottom: 20px;
}

#button {
    margin-top: 20px;
    background-color: rgb(252, 178, 40);
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    border-color: rgb(252, 194, 87);
    border-radius: 5px;
}

#button:hover {
    border-color: rgb(252, 107, 40);
    background-color: rgb(252, 125, 40);
    transform: scale(1.02);
    transition: 0.1s;
}

#button:active {
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 185, 139);
    transition: 0.1s;
}

table {
    margin: 40px auto 40px auto;
    border-collapse: collapse;
}

.hours {
    text-align: center;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

thead {
    background-color: lightgray;
    font-weight: bold;
}

footer {
    text-align: center;
    background-image: url("../images/bg.jpg");
    padding-top: 60px
}

.copyright {
    color: white;
    font-size: 13px;
    padding: 20px;
}

#footerLogo {
    width: 50px;
}

@media screen and (max-width: 540px){

	.box {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	header h1 {
		text-align: center;
	}

	div.logo {
		margin: auto;
	}

	nav {
		position: static;
		margin: auto;
	}

	nav ul {
		justify-content: space-around;
	}

    section.formulario {
        margin-top: 0;
    }

    form {
        border-radius: 0px;
    }
}