@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
	padding: 0;
	margin: 0;
}

header {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 200px 70px black;
    padding: 20px 0;
}

header h1 {
	display: inline-block;
}

.box {
    position: relative;
	margin: 0 40px 0 40px;
}

nav {
	display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    position: absolute;
	width: 287px;
	height: 33px;
	top: 50%;
	right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-weight: bold;
    font-size: 1.4em;
	text-shadow: 1px 1px 2px black;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(252, 178, 40);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transition: 0.1s;
}

main {
    margin: 20px 0;
}

.options {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.options li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 280px;
    height: 420px;
    padding: 50px 0px;
    margin: 0 1.5%;
    padding: 30px 0 ;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.options li:hover {
    border: 2px solid rgb(252, 178, 40);
    cursor: pointer;
}

.options li:active {
    border: 2px solid rgb(252, 125, 40);
}

.options li:hover h2 {
    font-size: 32px;
    transition: 0.2s;
}

.options h2 {
    font-size: 1.8em;
    font-weight: bold;
}

.description {
    font-size: 1.1em;
    font-weight: 500;
}

.price {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background-image: url("../images/bg.jpg");
    padding: 60px 0 0 0;
}

.copyright {
    color: white;
    font-size: 13px;
    padding: 20px;
}

#footerLogo {
    width: 50px;
}

@media screen and (max-width: 615px){

	.box {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	header h1 {
		text-align: center;
	}

	div.logo {
		margin: auto;
	}

	nav {
		position: static;
		margin: auto;
	}

	nav ul {
		justify-content: space-around;
	}

    .options {
        align-items: center;
        justify-content: center;
    }

    .options li {
        margin: 10px 10px;
    }

}