.secao {
    display: grid;
    gap: 16px;
}

.secao__titulo {
    font-size: 1.2rem;
    font-weight: 700;
}

@media screen and (min-width: 1440px) {
    .secao {
        grid-template-columns: repeat(4, 1fr);
    }

    .secao__titulo {
        grid-column: span 4;
    }
}