*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(60, 255, 60);
}

header {
    background-color: rgb(255, 60, 60);
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

nav {
    width: 420px;
    background-color: rgb(160, 160, 160);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:space-around;
}

nav div {
    height: 35px;
    width: 100px;
    background-color: whitesmoke;
    text-align: center;
    margin: 5px 2px 5px 2px;
    border-radius: 10px;
}

main {
    background-color: whitesmoke;
    height: 1200px;
    margin: 30px 30px 30px 30px;
    border-radius: 20px;
}

footer {
    background-color: rgb(60, 60, 255);
    height: 100px;
}